<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.zimuquan.circleofletters">
    <!--清除应用缓存-->
    <uses-permission android:name="android.permission.CLEAR_APP_CACHE"/>


    <!--清除应用的用户数据-->
    <uses-permission android:name="android.permission.CLEAR_APP_USER_DATA"
        tools:ignore="ProtectedPermissions" />
  <!--删除缓存-->
    <uses-permission android:name="android.permission.DELETE_CACHE_FILES"
        tools:ignore="ProtectedPermissions" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
<!--    网络权限-->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!-- 开场页面-->
        <activity android:name=".LandingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--主界面-->
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!--  android:theme="@android:style/Theme.NoTitleBar"-->
        <!-- 引导选择-->
        <activity android:name=".SpashActivity" />
        <!-- phone手机号登录-->
        <activity android:name=".PhoneLoginActivity" />
        <!--toast弹窗登录-->
        <activity android:name=".ToastLoginActivity" />
        <!--填写资料-->
        <activity android:name=".KkBoxActivity" />
        <!-- 编辑资料-->
        <activity android:name=".EditDataActivity" />
        <!--fragment 碎片解耦-->
        <!--首页刷选-->
        <activity android:name=".ScreenActivity" />
        <!--用户信息-->
        <activity android:name=".PersonalHomepageActivity" />


        <!-- 个人信息-->
        <activity android:name=".MineEditDataActivity" />
        <!--设置-->
        <activity android:name=".MineSetActivity" />
        <!--黑名单-->
        <activity android:name=".BlackBookActivity" />
        <!--关于我们-->
        <activity android:name=".OboutUsActivity"/>
       <!-- 用户协议-->
        <activity android:name=".UserAgreeUsBookActivity"/>


        <!--逛一逛-->
        <activity android:name=".WalkActivity"/>
       <!-- 逛一逛首页浏览-->
        <activity android:name=".WlakHomeActivity"/>
      <!--会员中心-->
        <activity android:name=".MemberCenterVipActivity"/>
        <!--我的动态-->
        <activity android:name=".MineMyDynamicActivity"/>
       <!--个性标签-->
        <activity android:name=".MinePersonalityLabelActivity"/>
       <!-- 意见反馈-->
        <activity android:name=".MineFeedbackActivity"/>

    </application>

</manifest>