<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.zimuquan.circleofletters">
    <!--清除应用缓存-->
    <uses-permission android:name="android.permission.CLEAR_APP_CACHE" />


    <!--清除应用的用户数据-->
    <uses-permission
        android:name="android.permission.CLEAR_APP_USER_DATA"
        tools:ignore="ProtectedPermissions" />
    <!--删除缓存-->
    <uses-permission
        android:name="android.permission.DELETE_CACHE_FILES"
        tools:ignore="ProtectedPermissions" />


    <!--    网络权限-->
    <!--融云权限-->

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 获取机型信息权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />

    <!-- 查看 Wi-Fi 状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 查看网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 录音 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 控制振动器 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 防止设备休眠 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <!--获取联系人信息，demo中演示发送通讯录消息-->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />


    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_OWNER_DATA" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_OWNER_DATA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:name=".base.BdsM"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!-- 开场页面-->
        <activity android:name=".WalkMessageActvity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--主界面-->
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <!-- 选择页面手机，微信，逛一逛-->
        <activity android:name=".SpashActivity" />
        <!--************逛一逛主题*****************-->
        <!-- 逛一逛进入填写性别OK-->
     <!--   <activity android:name="WalkMessageActvity" />-->
        <!-- 逛一逛进入性别判断首页OK-item子项点击no-->
        <activity android:name=".WalkActivity" />

        <!-- phone手机号登录-->
        <activity android:name=".PhoneLoginActivity" />
        <!--toast弹窗登录-->
        <activity android:name=".ToastLoginActivity" />

         <activity android:name=".PayloginActivity"/>
        <!-- 用户协议OK-->
        <activity android:name=".UserAgreeUsBookActivity" />
        <!--填写资料-选择角色-->
        <activity android:name=".KkBoxActivity" />
        <!-- 编辑资料-->
         <activity android:name=".EditDataActivity" />
        <!--fragment 碎片解耦-->
        <!--首页刷选-->
        <activity android:name=".ScreenActivity" />
        <!--用户信息-->
        <activity android:name=".PersonalHomepageActivity" />


        <!-- 个人信息-->
        <activity android:name=".MineEditDataActivity" />
        <!--设置-->
        <activity android:name=".MineSetActivity" />
        <!--黑名单-->
        <activity android:name=".BlackBookActivity" />
        <!--关于我们-->
        <activity android:name=".OboutUsActivity" />


        <!--逛一逛   已重复  ky-->

        <!-- 逛一逛首页浏览-->
        <activity android:name=".WlakHomeActivity" />
        <!--会员中心-->
        <activity android:name=".MemberCenterVipActivity" />
        <!--我的动态-->
        <activity android:name=".MineMyDynamicActivity" />
        <!--个性标签-->
        <activity android:name=".MinePersonalityLabelActivity" />
        <!-- 意见反馈-->
        <activity android:name=".MineFeedbackActivity" />
        <!--im通信配置开始-->
        <!--im测试-->
        <activity android:name=".im.MainActivity1" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.zimuquan.circleofletters.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/rc_file_path" />
        </provider>
        <!-- 推送广播-->
        <receiver
            android:name=".im.receiver.SealNotificationReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="io.rong.push.intent.MESSAGE_ARRIVED" />
                <action android:name="io.rong.push.intent.MI_MESSAGE_ARRIVED" />
                <action android:name="io.rong.push.intent.MESSAGE_CLICKED" />
                <action android:name="io.rong.push.intent.MI_MESSAGE_CLICKED" />
            </intent-filter>
        </receiver>


        <!--会话列表-->
        <activity
            android:name=".im.imActivity.ConversationListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.example.zimuquan.circleofletters"
                    android:pathPrefix="/conversationlist"
                    android:scheme="rong" />
            </intent-filter>
        </activity>


        <!--会话界面-->
        <activity
            android:name=".im.imActivity.ConversationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.example.zimuquan.circleofletters"
                    android:pathPrefix="/conversation/"
                    android:scheme="rong" />
            </intent-filter>
        </activity>
        <!--im配置结束-->

        <!-- 微信登录-->
        <!--微信配置开始-->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:label="@string/app_name" />
        <!--微信配置结束-->
        <!--支付宝支付配置开始-->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden"></activity>
        <activity
            android:name="com.alipay.sdk.app.H5AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden"></activity>
        <!--支付宝配置结束-->
    </application>

</manifest>